.borderedpage {
  border: 12px solid white;
  min-height: 100%;
  overflow: auto;

  .lizthumb {
    text-align: center;
    margin-bottom: 40px;

    img {
      width: 100px;
      border-radius: 100px;
    }
  }

  a {
    color: $coal;
    text-decoration: underline;
  }
}
