// Colors
$textColor:             #2c2c2c;
$bgColor:               #EAEAEA;

$gray-01:               #FAFAFA;
$gray-02:               #f1f1f1;
$gray-03:               #EAEAEA;

$teal-light:            #a0e1e7;
$teal:                  #46c0c8;


// Padding Sizes
$sm:                    3px;
$md:                    12px;
$lg:                    24px;
$xl:                    60px;
$xxl:                   120px;


// Screen Sizes
$screen-sm-min:         768px;
$screen-md-min:         992px;
$screen-lg-min:         1200px;


// Font Sizes
$textSize:              16px;
