// Colors
$teal:                  #71bdc4;
$teal2:                 #68ccd5;
$coal:                  #4a4a4a;


// Padding Sizes
$sm:                    3px;
$md:                    12px;
$lg:                    24px;
$xl:                    60px;
$xxl:                   120px;


// Screen Sizes
$screen-sm-min:         768px;
$screen-md-min:         992px;
$screen-lg-min:         1200px;
